@model IEnumerable<HSNHospitalProject.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Department List</h2>

<!-- Alert box indicating if department was added, edited, or deleted -->
@if (!String.IsNullOrEmpty(Request["add"]) && Request["add"].Equals("True"))
{
    <div class="alert alert-success">You have successfully added a new job post.</div>
}
else if (!String.IsNullOrEmpty(Request["update"]) && Request["update"].Equals("True"))
{
    <div class="alert alert-success">The job post has been updated.</div>
}
else if (!String.IsNullOrEmpty(Request["delete"]) && Request["delete"].Equals("True"))
{
    <div class="alert alert-danger">The job post has been deleted.</div>
}


<div>
    @Html.ActionLink("Create New Department", "Create")
</div>

<div>
    <div class="row">
        <div class="col-lg-2">
            Name
        </div>
    </div>
    @foreach (var department in Model)
    {
        <div class="row">
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => department.departmentName)
            </div>
            <div class="col-lg-2">
                @Html.ActionLink("Edit", "Edit", new { id = department.departmentId }) |
                @Html.ActionLink("Details", "Details", new { id = department.departmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = department.departmentId })
            </div>
        </div>
    }
</div>
