@model HSNHospitalProject.Models.ActivityRecords

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityRecords</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activityrecorddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityrecorddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityrecordrating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityrecordrating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activityrecordid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
