@model HSNHospitalProject.Models.JobPost

@{
    ViewBag.Title = "Details";
}

<h2>Job Post Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostName)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostType)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.departmentName)
        </dd>

        <dt>
            Experience
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostExperience)
        </dd>

        <dt>
            Open
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostFilled)
        </dd>

        <dt>
            Salary($)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostSalary)
        </dd>

        <dt>
            Posted Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostPostedDate)
        </dd>

        <!-- Only show the closed date when the position is filled -->
        @if ((bool)ViewData["filled"])
        {
            <dt>
                Closed Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.jobPostClosedDate)
            </dd>
        }
        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPostContent)
        </dd>

    </dl>
</div>
<p>
    <!-- Only Admin has the permission to edit a Job Post -->
    @if ((bool)ViewData["isAdmin"])
    {
        @:@Html.ActionLink("Edit", "Edit", new { id = Model.jobPostId }) |
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<!-- Apply for the Job (This is a different feature for the job application). As of now it is not developed -->
@if (!(bool)ViewData["filled"])
{
    <form action="/JobPost/Apply/@Model.jobPostId" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Apply" class="btn btn-default" />
        </div>
    </form>
}