@model PagedList.IPagedList<HSNHospitalProject.Models.ViewModels.JobPostIndexViewModel>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Job Posts</h2>

<!-- Alert box indicating if jobpost was added, edited, or deleted -->
@if (!String.IsNullOrEmpty(Request["add"]) && Request["add"].Equals("True"))
{
    <div class="alert alert-success">You have successfully added a new job post.</div>
}
else if (!String.IsNullOrEmpty(Request["update"]) && Request["update"].Equals("True"))
{
    <div class="alert alert-success">The job post has been updated.</div>
}
else if (!String.IsNullOrEmpty(Request["delete"]) && Request["delete"].Equals("True"))
{
    <div class="alert alert-danger">The job post has been deleted.</div>
}

<!-- Only Admin has the permission to add a new Job Post -->
@if ((bool)ViewData["isAdmin"])
{
    <p>
        @Html.ActionLink("Create New Job Post", "Create")
    </p>
}

<div>
    <div class="row">
        <div class="col-lg-2">
            Name
        </div>
        <div class="col-lg-2">
            Type
        </div>
        <div class="col-lg-2">
            Experience
        </div>
        <div class="col-lg-2">
            Salary
        </div>
        <div class="col-lg-2">
            Posted Date
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.name)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.type)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.experience)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.salary)
            </div>
            <div class="col-lg-2">
                @Html.DisplayFor(modelItem => item.postedDate)
            </div>
            <div class="col-lg-2">
                <!-- Only Admin has the permission to edit a Job Post -->
                @if ((bool)ViewData["isAdmin"])
                {
                    @:@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
                <!-- Only Admin has the permission to delete a Job Post -->
                @if ((bool)ViewData["isAdmin"])
                {
                    @: | @Html.ActionLink("Delete", "Delete", new { id = item.id })
                }
            </div>
        </div>
    }
</div>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
