@model IEnumerable<HSNHospitalProject.Models.GalleryImages>

@{
    ViewBag.Title = "Index";
}

<h2>Image Gallery</h2>

<!--Alert box indicating if image was added, edited or deleted-->
@if (!String.IsNullOrEmpty(Request["add"]) && Request["add"].Equals("True"))
{
    <div class="alert alert-success">Artist successfully added.</div>
}
else if (!String.IsNullOrEmpty(Request["delete"]) && Request["delete"].Equals("True"))
{
    <div class="alert alert-success">Artist successfully deleted.</div>
}
else if (!String.IsNullOrEmpty(Request["update"]) && Request["update"].Equals("True"))
{
    <div class="alert alert-success">Artist successfully updated.</div>
}

@if ((bool)TempData["isAdmin"] == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Title
        </th>
        <th>
            Alt Text
        </th>
        <th>
            Date Posted
        </th>
        <th>
            Description
        </th>
        @if ((bool)TempData["isAdmin"] == true)
        {
            <th><!--column header for details, edit, delete buttons--></th>
        }
    </tr>

    @foreach (var image in Model)
    {
        <tr>
            <td>
                <img class="" src="~/Content/GalleryImages/@image.galleryimageref" style="max-width:50%" />
            </td>
            <td>
                @image.galleryimagetitle
            </td>
            <td>
                @image.galleryimagealt
            </td>
            <td>
                @image.galleryimagedate
            </td>
            <td>
                @image.galleryimagedescription
            </td>
            @if ((bool)TempData["isAdmin"] == true)
                //Only print edit, delete, and details button if loggin in user is an admin
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = image.galleryimageid }) |
                    @Html.ActionLink("Details", "Details", new { id = image.galleryimageid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = image.galleryimageid })
                </td>
            }
        </tr>
    }

</table>
